<div class="page-header">
  <h1>Blog<br />
    <small>This will be where I post my thoughts on my One Month progress.</small>
  </h1>
</div>
<hr>

<h3>Day 5: Feb 27th</h3>
<p>Styled devise pages. Added pins to begin setting up the basic CRUD model.</p>

<h3>Day 4: Feb 26th</h3>
<p>Added devise and user models. Sign Up and Sign In success! Pushed to Heroku and migrated databases. Real app!</p>

<h3>Day 3: Feb 25th</h3>
<p>Setup Heroku and DNSimple. Got my app live!</p>

<h3>Day 2: Feb 24th</h3>
<p>Starting day 2. I was sick yesterday and couldn't contribute. Customizing LESS Bootstrap variables and themeing today.</p>

<h3>Day 1: Feb 22nd</h3>
<p>I just started on Sunday Feb 22nd and I am already 8 days in. I know a lot of the basics, but this is fantastic!</p>
