$navbar-default-bg: #ffffff;
$navbar-default-link-color: #34495e;
$body-bg: #ecf0f1;
$jumbotron-bg: #ffffff;
$brand-primary: #e74c3c;

.navbar-right {
  padding-right: 20px;
}

h3 {
  color: $brand-primary!important;
}

@import 'bootstrap';
